// colors
$black: #000;
$white: #fff;
$red: #f44;
$blue: #007bff;
$orange: #f60;
$green: #06bf04;
$gray: #c9c9c9;
$gray-light: #e5e5e5;
$gray-darker: #666;
$gray-dark: #999;

$primary-color: #42b983;
$danger-color: #ff4c4c;

$active-color: #e8e8e8;
$body-color: #f5f6fa;
$border-color: #c6c7cc;
$font-color: #2c3e50;

// z-index
$zindex-dropdown: 900;
$zindex-modal: 1000;
$zindex-message: 1010;
$zindex-tooltip: 1060;
$zindex-loading-bar: 2000;

// shadow
$shadow: 0 8px 20px rgba(0, 25, 76, 0.1);
$shadow-inset: 0 5px 8px rgba(0, 25, 76, 0.1) inset;

$bg-right: linear-gradient(to right, #ff4c4c, #ff7559);
$bg-left: linear-gradient(to left, #ff4c4c, #ff7559);

$bg-blue: linear-gradient(to right, #09c1f3, #108ee9);

$bs-primary: 0 10px 20px rgba(255, 76, 76, 0.3);

$bs-blue: 0 9px 26px rgba(16, 142, 233, 0.24);
